@model IEnumerable<MovieNight.Models.RenderView>

    @{
        ViewBag.Title = "Reviews per Movie";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Number of Reviews for each Movie</h2>
    <p>
        @using (Html.BeginForm("Index", "Reviews", FormMethod.Get))
        {
            <p>
                <!--Search all of the -->
                See all reviews <input type="submit" value="Go!" />
            </p>
        }
        </p>
        <table class="table">
            <tr>
                <td>Movie Title</td>
                <td>Reviews</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewCount)
                    </td>
                </tr>
            }
        </table>
