body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-image:url("https://i.ytimg.com/vi/JquobII5VjA/maxresdefault.jpg");
    color: #ccc;
}

a{
    color: #ccc;
}
a:hover{
    text-decoration:none;
    color: #337ab7;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: no-display;
}

    .caption h4 {
        white-space: normal;
    }

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 40px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    height: 550px;
    background: none;
    border: 5px solid #ccc;
}

    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }

    .thumbnail .caption {
        padding: 9px;
        color: #ccc;
        height: 100px;
    }

.btn {
    margin: 0px;
}

.btnAdded {
    margin: 2px;
}

.btn-default {
    background-color:inherit;
    color: #ccc;
    margin-bottom: 4px;
}
.btn-default:hover a {
     color: #337ab7;
}

.list-group-item {
    background-color: inherit;
    border: none;
}

.ratings {
    color: #ccc;
}

footer {
    margin: 50px 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 4px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.fade {
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}


/*Cast view Style*/

section.top_billed {
    display: block;
    padding-top: 40px;
    padding-right: 150px;
}
ol.people {
    list-style-type: none;
    list-style-position: inside;
    margin: 30px 0 0 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
ol.people li {
    display: list-item;
    width: 176px;
    height: auto;
    text-align: center;
}

ol.people li > a {
    width: 136px;
    height: 136px;
    display: inline-block;
    margin-bottom: 20px;
}

ol.people li img {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    -webkit-border-radius: 91%;
    -moz-border-radius: 50%;
    border: 2px solid #ccc;
}

ol.people li p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 0px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/* Navigation bar style */

.nav > li > a {
  position: relative;
  display: block;
  padding: 0px, 0px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 0px 0px;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

/* More Like This */
ol.moreLiskThis {
    list-style:none; 
    margin-right:0px;
    text-align:left; 
    padding-top:0px;
}

b.similarTitle{
    word-wrap: break-word;
    padding-left:15px;
}

h5, .h5 {
    font-size: 13px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Director details*/
#directorBio{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/* Movie Genre Links*/
.movieGenre{
    height: 24px;
    overflow: hidden;
}

.movieGenreLinks{
    padding-bottom:10px;
    display: -webkit-inline-box;
    overflow: no-display;    
}

/* Directors index*/
.well{
    background-color: inherit;
    border: none;
}
.directorInfo h6{
    font-size:16px;
}

.directorPics {
    border: 2px solid #ccc;
}

ol.people li img.moviesBy{
    border:none;
}

/* Reviews */
button, input, optgroup, select, textarea {
    color: black;
}

/* Graphs*/
g{
    fill: #ccc;
}